<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="<%=author%>">
    <title><%=appname%></title>

    <link rel="shortcut icon" href="http://mat1.gtimg.com/www/icon/favicon2.ico"/>

    <link rel="stylesheet" href="<%= basePathInHtml %>/css/all.css">

    <style type="text/css">
        .css-in-head-blue{
            color: blue;
        }
    </style>

</head>

<body>
    <div class="container">
         <h1>Hello, <%= appname %></h1>

        <table class="table">
            <tr>
                <th>index</th>
                <th>content</th>
            </tr>
            <tr>
                <td>1</td>
                <td><p class="css-in-head-blue"> .css-in-head-blue in head tag </p></td>
            </tr>
            <tr>
                <td>2</td>
                <td><p class="other-css-red"> .other-css-red in other.css</p></td>
            </tr>
        </table>

        <div>
            <img src="<%= basePathInHtml %>/img/dog.jpg" alt="Loading">
        </div>
    </div>
   

    <% if(usebower){ %>
    <script src="<%= basePathInHtml %>/js/lib/jquery.min.js"></script>
    <% } else { %>
    <script src="<%= basePathInHtml %>/js/lib/jquery-1.11.3.min.js"></script>
    <% } %>
    <script src="<%= basePathInHtml %>/js/all.js"></script>

    <script>
        console.log("Hello, world!");
    </script>
</body>

</html>
